<div id="Nexus" 
data-src="{% if settings._site.url %}{{settings._site.url}}{% endif %}/source/{{instance.meta_filename}}.json{% if settings._nexus.load_first_thread %}#{{instance.threads[0].id}}{% endif %}"
{% if settings._nexus.default_lang and settings._nexus.default_lang !== "en" %} data-lang="{{ settings._nexus.default_lang }}"{% endif %}
{% if settings._nexus.custom_theme_url %} data-style="{{ settings._nexus.custom_theme_url }}"{% endif %}>
</div>
<script src="{{ settings._nexus.script_url }}"></script>