---js
{
  layout: "page.njk",
  pagination: {
    data: "collections.SitePages",
    size: 1,
    alias: "pg",
    resolve: "values"
  },
permalink: "pages/{{pg.meta_filename}}/index.html"
}
---
{{ pg.content | safe }}