---
permalink: "/assets/meta/site.webmanifest"
---
{
    "name": "{{ settings._site.name }}",
    "icons": [
      { "src": "/assets/meta/icon-192.png", "type": "image/png", "sizes": "192x192" },
      { "src": "/assets/meta/icon-512.png", "type": "image/png", "sizes": "512x512" }
    ]
}