---js
{
eleventyComputed: {
  layout: data => {
    if(data.settings._site.front_page === "default Nexus instance"){
      return "base.njk"
    }
    return "page.njk" 
  }
},
permalink: "index.html"
}
---
{% if settings._site.front_page === "default Nexus instance" %}
{% for instance in collections.NxInstances %}
{% if instance.meta_filename === settings._nexus.default_instance %}
{% include "nx-snippet.njk" %}
{% endif %}
{% endfor %}
{% else %}
{% for pg in collections.SitePages %}
{% if pg.meta_filename === settings._pages.default_page %}
{{ pg.content | safe }}
{% endif %}
{% endfor %}
{% endif %}